<div class="content">
    <div class="header">{{ shoppinglist.name }}</div>
    <br/>
    <div class="metadata">
      <!--  <div class="creator">{{ shoppinglist.creator_id }}</div>
         <br/>
         <div class="shopper">{{ shoppinglist.shopper_id }}</div>
         <br/>

         <br/>
         <div class="actual_price">{{ shoppinglist.actual_price }}</div>
         <br/>
    </div>
    <div *ngFor="let item of shoppinglist.items;">{{item.id}} {{item.name}}</div> -->
        <div class="due_date">{{ shoppinglist.due_date }}</div>
</div>